<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XWAlerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>314C6EE21C3D0619004E2E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314C6EFE1C3D0619004E2E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>314C6F091C3D0619004E2E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
